# Sales Forecast Analytics
**DATA SCIENCE PRODEGREE PROJECT**

In [5]:
#Calling library
import warnings
import itertools
import statsmodels.api as sm
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pyplot as plt1
warnings.filterwarnings("ignore")
plt.style.use("fivethirtyeight")


from matplotlib import pyplot

In [9]:
import os

In [13]:
os.getcwd()

'C:\\Users\\IOT10\\Desktop\\Sales Forecast'

In [14]:
os.chdir("C:\\Users\\IOT10\\Desktop\\Sales Forecast")

In [15]:
os.getcwd()

'C:\\Users\\IOT10\\Desktop\\Sales Forecast'

In [16]:
# fetching the data in excel and assigning a data frame

df = pd.read_excel("Sales_Forecast_Data.xlsx")

In [17]:
# checking the data

df.head()

    FIN_YEAR MONTH    STATE            FG DISTRICT  COMPANY    VALUE
0  2014-2015   Nov  Haryana  Insecticides   Rohtak  monous    675.00
1  2014-2015   Nov  Haryana  Insecticides   Rewari  monous     73.71
2  2014-2015   Nov  Haryana  Insecticides  Gurgaon  monous    405.00
3  2014-2015   Nov  Haryana  Insecticides    Mewat  monous   1188.00
4  2014-2015   Nov  Haryana  Insecticides   Palwal  monous   5188.59

In [ ]:
# renaming the column heads based om data dictionary

df1=df.rename({"FIN_YEAR": "Financial Year","MONTH": "Month of sale", "STATE": "State of India", "FG":"Pesticide type" ,"DISTRICT":"District of state","COMPANY":"Company name", "VALUE": "Pesticide Quantity"},axis='columns')

In [ ]:
# checking the column data heads with change names
df1

In [ ]:
# Mapping FY date years from Financial year
df2 = pd.DataFrame({'Financial Year': ['2014-2015', '2015-2016','2016-2017','2017-2018'],
                    'FY': ['2014-','2015-','2016-','2017-']})
df2

In [ ]:
# merging this new data with FY to original data
df3= pd.merge(df1, 
                      df2, 
                      on ='Financial Year', 
                      how ='left')
df3

In [ ]:
# Mapping date months from Months
df5 = pd.DataFrame({'Month of sale': ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
                     'Monthdate of sale': ['01-01','02-01','03-01','04-01','05-01','06-01','07-01','08-01','09-01','10-01','11-01','12-01']})
df5

In [ ]:
# adding/Merging Monthdata to Original data
df4= pd.merge(df3, 
                      df5, 
                      on ='Month of sale', 
                      how ='left')
df4

In [ ]:

#Mapping state code to state of India
df6 = pd.DataFrame({'State of India': ['Haryana','Himachal Pradesh','Punjab','Uttar Pradesh','Uttarakhand'],
                     'State_CD': ['HR','HP','PU','UP','UT']})
df6

In [ ]:
# Merging state code to Original data
df7= pd.merge(df4, 
                      df6, 
                      on ='State of India', 
                      how ='left')
df7

In [ ]:
# checking the new data with additional new coloumns added
print (df7)

In [ ]:
#checking numbers of rows
len(df7)

In [ ]:
#checking class of data
df7.info()

In [ ]:
# Concatenating date coloumn from FY
df7['Date']=df7['FY'].map(str)+df7['Monthdate of sale'].map(str)

In [ ]:
df7

In [ ]:
#checking class of object
df7.info()

In [ ]:
#converting date from object to timeseries
df7['Date']=pd.to_datetime(df7['Date'])

In [ ]:
df7

In [ ]:
#Rearranging columns of New data in proper format
df8=df7.reindex(columns= ['Financial Year','Month of sale','Date','Quarter','Company name','State of India','State_CD','District of state','Pesticide type','Pesticide Quantity'])
df8

In [ ]:
# checking Null values
df8.isnull().values.any()
df8.isnull().sum()
df8.isnull().count()

In [ ]:
# assigning data fram and what is persticide sales for differnet company based on different pesticide type
ds=df8.groupby( ['Company name','Pesticide type'])['Pesticide Quantity'].sum()/1000

In [ ]:
#chrcking data of different company and type for each 
ds

In [ ]:
# checking data type
df8.info()

In [ ]:
#characterstics of data
df8.describe()

In [ ]:
df8["Date"].min(),df8["Date"].max()

In [ ]:
#creating another dataframe for time series with sales and date
cols = ['Financial Year','Month of sale','Quarter','Company name','State of India','State_CD','District of state','Pesticide type']
df8.drop(cols, axis=1, inplace=True)

In [ ]:
df8.isnull().count()

In [ ]:
#aggregate sales by date
df9=df8.groupby('Date')['Pesticide Quantity'].sum().reset_index()
df9
df9.isnull().count()

In [ ]:
#converting in 1000's in Metric tonnes
df9['Pesticide Quantity']=df9['Pesticide Quantity']/1000

In [ ]:
df9
df9.isnull().count()

In [ ]:
# setting date as Index
df9.set_index('Date',inplace = True)

In [ ]:
df9.info()

In [ ]:
df9.head()

In [ ]:
#sampling of data
df9.index

y=df9["Pesticide Quantity"].resample("MS").mean()

In [ ]:
#plotting graph of pesticide 
y.plot(figsize=(14,7))
plt1.show()

In [ ]:
#Check for missing values 
y.isnull().values.any()
y.isnull().sum()
y

In [ ]:
y.describe()

In [ ]:
#Assigning mean to null value
y.fillna(y.mean(),inplace=True)

In [ ]:
# checking 
y.isnull().values.any()
y.isnull().sum()

In [ ]:
#plotting graph of pesticide 
y.plot(figsize=(14,7))
plt1.show()

In [ ]:
#checking for stationarity
#augemented Dickey fuller (ADF)
#H0: Time series can be represented by unit root,that it is not stationary
#H1: if we reject null hypothesis then time series is stationary

In [ ]:
from pandas import Series 
from statsmodels.tsa.stattools import adfuller 
result =adfuller(y)
result

print('p value: %f' % result[1])

In [ ]:
lables =['ADF Test statistics','p-value','#lags used','#Number of Observations Used']
for value,label in zip(result,lables):
    print(label+':'+str(value))
if result[1] <= 0.05:
        print ("Strong evidence against the null hypothesis (H0),reject the null hypothesis ,Data has no unit root and is stationary")
else :
        print ("Weak evidence against null hypothesis (H1), time series has a unit root ,indicating it is non stationary ")

In [ ]:
#Decomposition of data in trend,seasonal and residual

from statsmodels.tsa.seasonal import seasonal_decompose

In [ ]:
y.sort_index(inplace = True)

In [ ]:
decomposition = seasonal_decompose(y)

In [ ]:
plt1.plot(y,label = "original")
plt1.legend(loc = "best")
trend = decomposition.trend
plt1.show()
plt1.plot(trend,label = "Trend")
plt1.legend(loc = "best")
seasonal = decomposition.seasonal
plt1.show()
plt1.plot(seasonal,label = "Seasonal")
plt1.legend(loc = "best")
residual = decomposition.resid
plt1.show()
plt1.plot(residual,label = "Residual")
plt1.legend(loc = "best")

# Building forecasting model using Moving Average

In [ ]:
# Moving Average Method
y.rolling(window=2).mean()

In [ ]:
plt1.plot(y.rolling(window=2).mean())

In [ ]:
plt1.figure(figsize=[15,10])
plt1.grid(True)
plt1.plot(y,label='data')
plt1.plot(y.rolling(window=2).mean(),label='SMA 2 Years')
plt1.plot(y.rolling(window=3).mean(),label='SMA 3 Years')
plt1.legend(loc=1)

In [ ]:
from pandas import read_excel
from numpy import mean
from sklearn.metrics import mean_squared_error
from matplotlib import pyplot

In [ ]:
#series = pd.read_excel('"Sales_Forecast_Data.xlsx"', header=0, index_col=0)
df = pd.read_excel("Sales_Forecast_Data.xlsx",header=0, index_col=0)

In [ ]:
# prepare situation
X = df.values
window = 3
history = [X[i] for i in range(window)]
test = [X[i] for i in range(window, len(X))]
predictions = list()

In [ ]:
# walk forward over time steps in test
for t in range(len(test)):
#	length = len(history)
#	yhat = mean([history[i] for i in range(length-window,length)])
#	obs = test[t]
	history.append(obs)
#	print('predicted=%f, expected=%f' % (yhat, obs))
error = mean_squared_error(test, predictions)

In [ ]:
print('Test MSE: %.3f' % error)
# plot
plt1.plot(test)
plt1.plot(predictions, color='red')
plt1.show()

In [ ]:
# zoom plot
pyplot.plot(test[0:100])
pyplot.plot(predictions[0:100], color='red')
pyplot.show()

# Building forecasting model using Exponential smoothing

In [ ]:
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt

In [ ]:
# Simple Exponential Smoothing Method --- with Alpha = 0.20
fit1 = SimpleExpSmoothing(y).fit(smoothing_level=0.2,optimized=False)

In [ ]:
# Fitted Values
fit1.fittedvalues

In [ ]:
# Model Parameters 
fit1.params

In [ ]:
# Model Parameters (Formated form)
fit1.params_formatted

In [ ]:
# Model Selection Criteria (AIC, AICc, BIC)
fit1.aic, fit1.aicc, fit1.bic

In [ ]:
# Predction for next Years
fcast1 = fit1.forecast(1)
fcast1

In [ ]:
# Simple Exponential Smoothing Method --- with Alpha = 0.60
fit2 = SimpleExpSmoothing(y).fit(smoothing_level=0.6,optimized=False)
fcast2 = fit2.forecast(1)
fcast2

In [ ]:
# Model Selection Criteria (AIC, AICc, BIC)
fit2.aic, fit2.aicc, fit2.bic

In [ ]:
# Simple Exponential Smoothing Method --- with optimized Alpha value automatically computed by the Statsmodels library 
fit3 = SimpleExpSmoothing(y).fit()

In [ ]:
# Model Selection Criteria (AIC, AICc, BIC)
fit3.aic, fit3.aicc, fit3.bic

In [ ]:
# Compare Model-1, 2 and 3 based on AIC, AICc, and BIC
model1fit = fit1.aic,fit1.aicc,fit1.bic
model2fit = fit2.aic,fit2.aicc,fit2.bic
model3fit = fit3.aic,fit3.aicc,fit3.bic

results=(pd.DataFrame(index=["AIC","AICc","BIC"] ,columns=['Model-1', "Model-2","Model-3"]))
results["Model-1"] = model1fit
results["Model-2"] = model2fit
results["Model-3"] = model3fit
results

In [ ]:
# Predction for next Years
fcast3 = fit3.forecast(1)
fcast3

In [ ]:
# Model Parameters
fit3.params

In [ ]:
# Accessing the Value of Alpha
fit3.params['smoothing_level']

In [ ]:
#Simple Exponential Smoothing Methods: Graphical Comparison

In [ ]:
plt1.figure(figsize=[15,10])
plt1.grid(True)
# Actucal data
plt1.plot(y,label='data',color='black',marker='o')

# SES with Alpha = 0.2
plt1.plot(fcast1,label='SES Alpha=0.2',color='red',marker='o')
plt1.plot(fit1.fittedvalues,color='red',marker='o')

# SES with Alpha = 0.6
plt1.plot(fcast2,label='SES Alpha=0.6',color='green',marker='o')
plt1.plot(fit2.fittedvalues,color='green',marker='o')

# SES with Optimum Alpha 
plt1.plot(fcast3,label=fit3.params['smoothing_level'],color='blue',marker='o')
plt1.plot(fit3.fittedvalues,color='blue',marker='o')

plt1.legend(loc=2)

# building forecasting model using ARIMA

In [ ]:
p = d = q = range(0,2)
p = d = q = range(0,2)
pdq = list(itertools.product(p,d,q))
seasonal_pdq = [(x[0],x[1],x[2],12) for x in list(itertools.product(p,d,q))]
print("example of parameter combinations for seasonal ARIMA...")
print('SARIMAX:{} x {}'.format(pdq[1],seasonal_pdq[1]))
print('SARIMAX:{} x {}'.format(pdq[1],seasonal_pdq[2]))

In [ ]:
pdq

In [ ]:
#parameter selection using gride search

#grid search
from pylab import rcParams
for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            mod = sm.tsa.statespace.SARIMAX(y,order = param,
                                           seasonal_order = param_seasonal,enforce_stationarity = False,
                                           enforce_invertibility = False)
            results = mod.fit()
            print('ARIMA{}X{}12 - AIC:{}'.format(param,param_seasonal, results.aic))
        except:
            continue

# Fitting the SARIMA model considering data is cyclic

In [ ]:
# Fitting the SARIMA model considering data is cyclic
mod = sm.tsa.statespace.SARIMAX(y, order = (0, 1, 1),seasonal_order =(0, 1, 1, 12))
results = mod.fit()

In [ ]:
print(results.summary().tables[1])

In [ ]:
# Fitting the ARIMA model which is not appropiate since the data is seasonal

from statsmodels.tsa.arima_model import ARIMA

In [ ]:
mod1 = ARIMA(y, order = (0, 1, 1))
results1 = mod1.fit()

In [ ]:
print(results1.summary().tables[1])

In [ ]:
results.plot_diagnostics(figsize= (14,7))
plt1.show()

In [ ]:
# Validating forecast
# set  forecast to start at 2017-01-01 and validating with observed data

In [ ]:
pred = results.get_prediction(start = pd.to_datetime("2017-01-01"),dynamic = False)
pred_ci = pred.conf_int()
ax = y["2014":].plot(label = "Observed")
pred.predicted_mean.plot(ax = ax,label = "One step ahead forecast", alpha = .7 ,figsize= (14,7))
ax.fill_between(pred_ci.index,
               pred_ci.iloc[:,0],
               pred_ci.iloc[:,1], alpha = .2)
ax.set_xlabel("Date")
ax.set_ylabel("Pesticide Quantity")
plt1.legend()
plt1.show()

In [ ]:
pred.predicted_mean

In [ ]:
#calculate RMSE for 2017 data
y_forecasted = pred.predicted_mean
y_truth = y['2017-01-01':]

mse = ((y_forecasted-y_truth)**2).mean()
rmse = round(np.sqrt(mse),2)

In [ ]:
mse

In [ ]:
rmse

In [ ]:
# forecasting for 2018-19

In [ ]:
pred_uc = results.get_forecast(steps= 24)
pred_ci = pred_uc.conf_int()
ax = y.plot(label= "observed",figsize = (14,7))
pred_uc.predicted_mean.plot(ax= ax,label = "Forecast")
ax.fill_between(pred_ci.index,
               pred_ci.iloc[:,0],
               pred_ci.iloc[:,1],alpha = .25)
ax.set_xlabel("Date")
ax.set_ylabel("Pesticide Quantity")
print(pred_uc.predicted_mean,pred_ci)
#print(pred_ci)
plt1.legend()
plt1.show()